body {
    background-color: #d7d7ff;
}

img {
    width: 200px; /*Ancho de la imagen*/
    height: 200px; /*Alto de la imagen*/
}

tr:hover{
    background-color: rgb(170, 208, 223);
}

input{
    border-radius: 5px;
    border: 3px solid rgb(24, 7, 126);
    background-color: rgb(100, 126, 116);
}

.tipoinputs{
    background-color: rgb(99, 33, 7);
}

#nombrepersona{
    height: 50px;
}
h1{
    background-color: rgb(13, 128, 128);
}