body {
    background-color: #d7d7ff;
}

img {
    width: 200px; /*Ancho de la imagen*/
    height: 200px; /*Alto de la imagen*/
}

tr:hover{
    background-color: rgb(170, 208, 223);
}

input{
    border-radius: 5px;
    border: 3px solid rgb(24, 7, 126);
    background-color: rgb(234, 255, 247);
}

.tipoinputs{
    background-color: rgb(255, 215, 199);
}

.inputs-2{
    background-color: thistle;
    font-family: fantasy;
    font-size: small;
}
h1{
    background-color: rgb(13, 128, 128);
}